Repository openstack-archive/validations-libs: changes, and which Zuul jobs are due for each by the changed paths.
All: validations-libs-functional, validations-libs-reqcheck, validations-libs-coverchange, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

validations-libs-functional:
  parent: devstack
  run: playbooks/validations-libs-functional.yaml
  post-run: playbooks/post.yaml
  timeout: 7200
  required-projects:
  - openstack/validations-libs
  - openstack/validations-common
  vars:
    devstack_localrc:
      USE_PYTHON3: true

validations-libs-reqcheck:
  nodeset: centos-8
  parent: base
  run: playbooks/reqcheck.yaml
  timeout: 1600
  voting: true
  required-projects:
  - openstack/validations-libs

validations-libs-coverchange:
  nodeset: centos-8
  parent: base
  run: playbooks/coverchange.yaml
  timeout: 1600
  voting: false
  required-projects:
  - openstack/validations-libs

tripleo-ci-centos-8-containers-multinode:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-standalone:
  dependencies:
  - openstack-tox-linters

Move Cliff requirements to 2.16.0
  .reqcheck_override.yaml
  requirements.txt
Due: validations-libs-functional, validations-libs-reqcheck

Migrate jobs from CentOS 8 to CentOS 8 Stream
  .zuul.yaml
Due: validations-libs-functional

For stable/train compatibility ansible-runner needs to move to 1.4.0
  requirements.txt
Due: validations-libs-functional, validations-libs-reqcheck

Fix community init to respect cfg paths
  validations_libs/cli/community.py
  validations_libs/community/init_validation.py
Due: validations-libs-functional, validations-libs-coverchange, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Validation actions refactor
  validations_libs/cli/history.py
  validations_libs/cli/run.py
  validations_libs/cli/show.py
  validations_libs/group.py
  validations_libs/tests/cli/test_history.py
  validations_libs/tests/cli/test_list.py
  validations_libs/tests/cli/test_run.py
  validations_libs/tests/cli/test_show.py
  validations_libs/tests/fakes.py
  validations_libs/tests/test_group.py
  validations_libs/tests/test_utils.py
  validations_libs/tests/test_validation_actions.py
  validations_libs/utils.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, validations-libs-coverchange, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Update .gitreview for stable/1.6
  .gitreview
Due: validations-libs-functional

Update master for stable/1.6
  releasenotes/source/1.6.rst
  releasenotes/source/index.rst
Due: none

Centos 9 jobs for validations libs
  .zuul.yaml
  playbooks/reqcheck.yaml
Due: validations-libs-functional

Moving callbacks to validations-libs
  doc/source/conf.py
  setup.cfg
  test-requirements.txt
  tools/http_server.py
  validations_libs/ansible.py
  validations_libs/callback_plugins/__init__.py
  validations_libs/callback_plugins/vf_fail_if_no_hosts.py
  validations_libs/callback_plugins/vf_http_json.py
  validations_libs/callback_plugins/vf_validation_json.py
  validations_libs/callback_plugins/vf_validation_output.py
  validations_libs/callback_plugins/vf_validation_stdout.py
  validations_libs/tests/callback_plugins/__init__.py
  validations_libs/tests/callback_plugins/fakes.py
  validations_libs/tests/callback_plugins/test_vf_fail_if_no_hosts.py
  validations_libs/tests/callback_plugins/test_vf_http_json.py
  validations_libs/tests/callback_plugins/test_vf_validation_json.py
  validations_libs/tests/callback_plugins/test_vf_validation_output.py
  validations_libs/tests/callback_plugins/test_vf_validation_stdout.py
  validations_libs/tests/test_validation_actions.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, validations-libs-coverchange, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Removing coverchange job
  .zuul.yaml
  playbooks/coverchange.yaml
Due: validations-libs-functional

Checking inventory file presence and format
  validations_libs/cli/common.py
  validations_libs/cli/run.py
Due: validations-libs-functional, validations-libs-coverchange, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Setting default branch of devstack repositories for functional tests
  .zuul.yaml
Due: validations-libs-functional

Exceptions for Validations Framework
  validations_libs/cli/run.py
  validations_libs/exceptions.py
  validations_libs/tests/cli/test_run.py
  validations_libs/tests/test_validation_actions.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, validations-libs-coverchange, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Removing leftover coverchange reference
  .zuul.yaml
Due: validations-libs-functional

Remove yaml check for inventory in run/cli
  validations_libs/cli/run.py
Due: validations-libs-functional, validations-libs-coverchange, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

get_status property simplification and optimization
  validations_libs/validation_logs.py
Due: validations-libs-functional, validations-libs-coverchange, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Dockerfile updated to eliminate dependency conflicts
  Dockerfile
  dockerfiles/localvalidations/Dockerfile
Due: validations-libs-functional

Tests verifying functionality ansible runtime infrastructure
  validations_libs/tests/test_ansible.py
Due: validations-libs-functional, validations-libs-coverchange, openstack-tox-docs, promote-openstack-tox-docs

Removing references to Babel
  setup.cfg
Due: validations-libs-functional

Normalizing VF metadata
  setup.cfg
Due: validations-libs-functional

Validation help improvement
  validations_libs/cli/base.py
  validations_libs/cli/common.py
  validations_libs/cli/constants.py
  validations_libs/cli/history.py
  validations_libs/cli/lister.py
  validations_libs/cli/run.py
  validations_libs/cli/show.py
  validations_libs/tests/cli/test_common.py
Due: validations-libs-functional, validations-libs-coverchange, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Fixing CLI formatter import test.
  validations_libs/tests/cli/test_common.py
Due: validations-libs-functional, validations-libs-coverchange, openstack-tox-docs, promote-openstack-tox-docs

Clarifying project branching model in CONTRIBUTING.rst
  .zuul.yaml
  CONTRIBUTING.rst
Due: validations-libs-functional

Man pages compatibility
  doc/source/cli.rst
  doc/source/conf.py
Due: openstack-tox-docs, promote-openstack-tox-docs

Add validation container entry point
  container/validation
Due: validations-libs-functional

Skipping tests during API doc generation
  doc/source/conf.py
Due: openstack-tox-docs, promote-openstack-tox-docs

Update py36 to py38 tox jobs
  .zuul.yaml
Due: validations-libs-functional

Remove six
  setup.cfg
  validations_libs/ansible.py
  validations_libs/tests/cli/test_common.py
  validations_libs/tests/cli/test_run.py
  validations_libs/tests/cli/test_show.py
  validations_libs/tests/test_ansible.py
  validations_libs/tests/test_group.py
  validations_libs/tests/test_utils.py
  validations_libs/tests/test_validation.py
  validations_libs/tests/test_validation_actions.py
  validations_libs/tests/test_validation_log.py
  validations_libs/tests/test_validation_logs.py
  validations_libs/utils.py
Due: validations-libs-functional, validations-libs-coverchange, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Bumping flake8-typing-imports to version 1.12.0
  .pre-commit-config.yaml
Due: validations-libs-functional

Update python testing as per zed cycle testing runtime
  releasenotes/notes/drop-python-3-6-and-3-7-7b2fb404f31475f8.yaml
  setup.cfg
Due: validations-libs-functional

Path conditions:
  validations-libs-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  validations-libs-reqcheck: any of: ^requirements.txt$
  validations-libs-coverchange: any of: ^validations_libs/.*
  openstack-tox-docs: (any of: ^doc/.*, ^README.rst, ^validations_libs/.*) or (any of: ^doc/.*, ^README.rst)
  promote-openstack-tox-docs: (any of: ^doc/.*, ^README.rst, ^validations_libs/.*) or (any of: ^doc/.*, ^README.rst)
  tripleo-ci-centos-8-containers-multinode: (any of: ^validations_libs/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, .*.ini$, ^validations_libs/tests/.*)
  tripleo-ci-centos-8-standalone: (any of: ^validations_libs/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, .*.ini$, ^validations_libs/tests/.*)
