Repository openstack-archive/validations-libs: changes, and which Zuul jobs are due for each by the changed paths.
All: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

.zuul.yaml:

- job:
    name: validations-libs-functional
    parent: devstack
    run: playbooks/validations-libs-functional.yaml
    post-run: playbooks/post.yaml
    timeout: 7200
    required-projects:
      - openstack/validations-libs
      - openstack/validations-common
    vars:
      devstack_localrc:
        USE_PYTHON3: true
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$

- job:
    name: tripleo-ci-centos-8-standalone-validation-libs
    parent: tripleo-ci-centos-8-standalone
    vars:
      featureset: '052'
      validate_services: true
      enable_validation: true
      component: validation

- project:
    templates:
      - check-requirements
    check:
      jobs:
        - openstack-tox-py36
        - openstack-tox-linters
        - openstack-tox-cover
        - tripleo-ci-centos-8-content-provider:
            dependencies:
              - openstack-tox-linters
              - openstack-tox-cover
              - validations-libs-functional
        - tripleo-ci-centos-8-standalone-validation-libs: &standalone_consumer_job_params
            vars:
              consumer_job: true
              build_container_images: false
              remove_tags:
                - build
            dependencies:
              - tripleo-ci-centos-8-content-provider
        - openstack-tox-docs: &tripleo-docs
            files:
              - ^doc/.*
              - ^README.rst
              - ^validations_libs/.*
        - validations-libs-functional
    gate:
      jobs:
        - openstack-tox-py36
        - openstack-tox-linters
        - openstack-tox-docs: *tripleo-docs
        - validations-libs-functional
        - tripleo-ci-centos-8-content-provider:
            dependencies:
              - openstack-tox-linters
              - validations-libs-functional
        - tripleo-ci-centos-8-standalone-validation-libs: *standalone_consumer_job_params
    promote:
      jobs:
        - promote-openstack-tox-docs: *tripleo-docs

zuul.d/layout.yaml:

- project:
    templates:
      - openstack-python3-victoria-jobs
      - check-requirements
      - openstack-lower-constraints-jobs
    check:
      jobs:
      - openstack-tox-linters: &tripleo-linters
          nodeset: centos-8
      - openstack-tox-docs: &tripleo-docs
          files:
          - ^doc/.*
          - ^README.rst
      - tripleo-ci-centos-8-containers-multinode: &containers_multinode
          dependencies: &deps
            - openstack-tox-linters
          files: &containers_files
          - ^validations_libs/.*
          irrelevant-files: &irrelevant_scenario_files
          - .*.md$
          - .*.rst$
          - .*.txt$
          - .*.ini$
          - ^validations_libs/tests/.*
      - tripleo-ci-centos-8-standalone: &basic_standalone
          dependencies: *deps
          files: *containers_files
          irrelevant-files: *irrelevant_scenario_files
    gate:
      jobs:
      - openstack-tox-linters: *tripleo-linters
      - openstack-tox-docs: *tripleo-docs
      - tripleo-ci-centos-8-containers-multinode: *containers_multinode
      - tripleo-ci-centos-8-standalone: *basic_standalone
    promote:
      jobs:
      - promote-openstack-tox-docs: *tripleo-docs

Exceptions now indicate cause where applicable
  validations_libs/validation_logs.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Create dedicated CLI for the Validation Framework
  requirements.txt
  setup.cfg
  validations_libs/cli/__init__.py
  validations_libs/cli/app.py
  validations_libs/cli/common.py
  validations_libs/cli/history.py
  validations_libs/cli/lister.py
  validations_libs/cli/parseractions.py
  validations_libs/cli/run.py
  validations_libs/cli/show.py
  validations_libs/tests/cli/__init__.py
  validations_libs/tests/cli/fakes.py
  validations_libs/tests/cli/test_history.py
  validations_libs/tests/cli/test_list.py
  validations_libs/tests/cli/test_run.py
  validations_libs/tests/cli/test_show.py
  validations_libs/tests/fakes.py
  validations_libs/tests/test_validation_actions.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

PDF docs are now available
  doc/requirements.txt
  doc/source/conf.py
  tox.ini
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs

Invalid char '\xe2' replaced with double dash
  validations_libs/cli/app.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Raise exception if result is empty
  validations_libs/cli/run.py
  validations_libs/tests/cli/test_run.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

group info test mocks and asserts
  validations_libs/tests/cli/test_show.py
  validations_libs/tests/fakes.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs

CLI colors refactored
  validations_libs/cli/colors.py
  validations_libs/cli/common.py
  validations_libs/tests/cli/test_colors.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Version bumps for rhel9 transition
  .zuul.yaml
  setup.cfg
  tox.ini
Due: validations-libs-functional

Add support for JUnitXML output (optional)
  validations_libs/cli/common.py
  validations_libs/cli/run.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Bump pre-commit repositories
  .pre-commit-config.yaml
Due: validations-libs-functional

Cover now prints line numbers
  tox.ini
Due: validations-libs-functional

Retrieve n latest validation results
  validations_libs/cli/history.py
  validations_libs/tests/test_validation_actions.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

setup.cfg: Replace dashes with underscores
  setup.cfg
Due: validations-libs-functional

Disable quiet mode run when using an Ansible Custom Callback
  validations_libs/cli/run.py
  validations_libs/tests/cli/test_run.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Move fetch_validations role from validations-libs-functional to post playbook
  playbooks/post.yaml
  playbooks/validations-libs-functional.yaml
Due: validations-libs-functional

Elevate the verbosity level when running validation(s)
  validations_libs/ansible.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Make Python Interpreter option for Ansible Validation Run
  validations_libs/cli/run.py
  validations_libs/tests/cli/test_run.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Fix Python 2.7 compatibility for test_ansible.py
  validations_libs/tests/test_ansible.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs

Removing ansible-autodoc
  doc/source/_exts/ansible-autodoc.py
  doc/source/conf.py
Due: openstack-tox-docs, promote-openstack-tox-docs

Bumping the ansible-runner version to 1.4.4
  requirements.txt
Due: validations-libs-functional

Reqcheck job for upstream validations-libs
  .reqcheck_override.yaml
  .zuul.yaml
  playbooks/reqcheck.yaml
Due: validations-libs-functional

Use validation_component for Standalone CI jobs
  .zuul.yaml
Due: validations-libs-functional

Refactoring of the cli app module
  validations_libs/cli/app.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Refactoring of the cli show module
  validations_libs/cli/show.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Refactoring of the cli history module
  validations_libs/cli/history.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Refactoring of the cli parseractions module
  validations_libs/cli/parseractions.py
  validations_libs/tests/cli/fakes.py
  validations_libs/tests/cli/test_parseractions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Expansion of logging for the show action.
  validations_libs/utils.py
  validations_libs/validation_logs.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Paths no longer contain double '/'
  validations_libs/constants.py
  validations_libs/tests/cli/test_run.py
  validations_libs/tests/test_validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Refactoring of the cli run module
  validations_libs/cli/common.py
  validations_libs/cli/run.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Deprecated assertEquals replaced
  validations_libs/tests/cli/test_colors.py
  validations_libs/tests/test_ansible.py
  validations_libs/tests/test_group.py
  validations_libs/tests/test_validation.py
  validations_libs/tests/test_validation_log.py
  validations_libs/tests/test_validation_logs.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs

Refactoring of the cli lister module
  validations_libs/cli/lister.py
  validations_libs/utils.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Remove VALIDATION_GROUPS constant
  validations_libs/constants.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Expansion of logging for the list action
  validations_libs/utils.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Update Validations Framework IRC channels
  doc/source/contributing.rst
Due: openstack-tox-docs, promote-openstack-tox-docs

Override cliff command parser to handle argparser conflict_handler
  validations_libs/cli/base.py
  validations_libs/cli/history.py
  validations_libs/cli/run.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Improved log path handling
  validations_libs/constants.py
  validations_libs/tests/test_utils.py
  validations_libs/tests/test_validation_actions.py
  validations_libs/utils.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Constants path formatting unification
  validations_libs/constants.py
  validations_libs/utils.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Fixing the recursive path handling.
  validations_libs/tests/fakes.py
  validations_libs/tests/test_utils.py
  validations_libs/tests/test_validation_actions.py
  validations_libs/utils.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

New optional param for log path
  validations_libs/cli/run.py
  validations_libs/tests/cli/test_run.py
  validations_libs/utils.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Filling license info for Ansible and Pyflakes
  requirements.txt
  test-requirements.txt
Due: validations-libs-functional
