Repository openstack-archive/validations-libs: changes, and which Zuul jobs are due for each by the changed paths.
All: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

.zuul.yaml:

- job:
    name: validations-libs-functional
    parent: devstack
    run: playbooks/validations-libs-functional.yaml
    post-run: playbooks/post.yaml
    timeout: 7200
    required-projects:
      - openstack/validations-libs
      - openstack/validations-common
    vars:
      devstack_localrc:
        USE_PYTHON3: true
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$

- job:
    name: tripleo-ci-centos-8-standalone-validation-libs
    parent: tripleo-ci-centos-8-standalone
    vars:
      featureset: '052'
      validate_services: true
      enable_validation: true
      component: validation

- project:
    templates:
      - check-requirements
    check:
      jobs:
        - openstack-tox-py36
        - openstack-tox-linters
        - openstack-tox-cover
        - tripleo-ci-centos-8-content-provider:
            dependencies:
              - openstack-tox-linters
              - openstack-tox-cover
              - validations-libs-functional
        - tripleo-ci-centos-8-standalone-validation-libs: &standalone_consumer_job_params
            vars:
              consumer_job: true
              build_container_images: false
              remove_tags:
                - build
            dependencies:
              - tripleo-ci-centos-8-content-provider
        - openstack-tox-docs: &tripleo-docs
            files:
              - ^doc/.*
              - ^README.rst
              - ^validations_libs/.*
        - validations-libs-functional
    gate:
      jobs:
        - openstack-tox-py36
        - openstack-tox-linters
        - openstack-tox-docs: *tripleo-docs
        - validations-libs-functional
        - tripleo-ci-centos-8-content-provider:
            dependencies:
              - openstack-tox-linters
              - validations-libs-functional
        - tripleo-ci-centos-8-standalone-validation-libs: *standalone_consumer_job_params
    promote:
      jobs:
        - promote-openstack-tox-docs: *tripleo-docs

zuul.d/layout.yaml:

- project:
    templates:
      - openstack-python3-victoria-jobs
      - check-requirements
      - openstack-lower-constraints-jobs
    check:
      jobs:
      - openstack-tox-linters: &tripleo-linters
          nodeset: centos-8
      - openstack-tox-docs: &tripleo-docs
          files:
          - ^doc/.*
          - ^README.rst
      - tripleo-ci-centos-8-containers-multinode: &containers_multinode
          dependencies: &deps
            - openstack-tox-linters
          files: &containers_files
          - ^validations_libs/.*
          irrelevant-files: &irrelevant_scenario_files
          - .*.md$
          - .*.rst$
          - .*.txt$
          - .*.ini$
          - ^validations_libs/tests/.*
      - tripleo-ci-centos-8-standalone: &basic_standalone
          dependencies: *deps
          files: *containers_files
          irrelevant-files: *irrelevant_scenario_files
    gate:
      jobs:
      - openstack-tox-linters: *tripleo-linters
      - openstack-tox-docs: *tripleo-docs
      - tripleo-ci-centos-8-containers-multinode: *containers_multinode
      - tripleo-ci-centos-8-standalone: *basic_standalone
    promote:
      jobs:
      - promote-openstack-tox-docs: *tripleo-docs

Module docstring for validation_libs.constants
  validations_libs/constants.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Literal substituted with DEFAULT_VALIDATIONS_BASEDIR
  validations_libs/constants.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

get_formatted_data optimization
  validations_libs/validation.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Correct the tox option for skipping sdist generation
  tox.ini
Due: validations-libs-functional

Fix VALIDATIONS_LOG_BASEDIR constant when $HOME is undefined
  validations_libs/constants.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Fix a regression in the ShowGroup sub-command
  validations_libs/cli/common.py
  validations_libs/cli/show.py
  validations_libs/tests/cli/test_show.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Remove content-provider to decrease CI time
  .zuul.yaml
Due: validations-libs-functional

Coverage change job
  .zuul.yaml
  playbooks/coverchange.yaml
Due: validations-libs-functional

Handle backward compatibility for Cliff 2.16.0 (stable/train)
  validations_libs/cli/base.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Simplification of the log path handling by the ValidationLog class
  validations_libs/tests/test_validation_log.py
  validations_libs/validation_logs.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Fix history list sub command when not using the default log dir
  validations_libs/cli/history.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

fix var name in logging statement
  playbooks/coverchange.yaml
Due: validations-libs-functional

reqcheck job is now voting
  .zuul.yaml
Due: validations-libs-functional

Test cross contamination prevention
  validations_libs/tests/cli/test_run.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs

improve vagrant functionality
  Vagrantfile.centos
  Vagrantfile.ubuntu
Due: validations-libs-functional

add spinner to highlight progress
  validations_libs/cli/common.py
  validations_libs/tests/test_validation_actions.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Remove convert_data function
  validations_libs/tests/test_utils.py
  validations_libs/utils.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Build containers in gate - to match check
  .zuul.yaml
Due: validations-libs-functional

Add missing font for PDF generation
  bindep.txt
Due: validations-libs-functional

Add Categories metadata key management
  validations_libs/cli/lister.py
  validations_libs/cli/run.py
  validations_libs/cli/show.py
  validations_libs/tests/cli/test_list.py
  validations_libs/tests/cli/test_run.py
  validations_libs/tests/cli/test_show.py
  validations_libs/tests/fakes.py
  validations_libs/tests/test_utils.py
  validations_libs/tests/test_validation.py
  validations_libs/tests/test_validation_actions.py
  validations_libs/utils.py
  validations_libs/validation.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Add Products metadata key management
  validations_libs/cli/lister.py
  validations_libs/cli/run.py
  validations_libs/cli/show.py
  validations_libs/tests/cli/test_list.py
  validations_libs/tests/cli/test_run.py
  validations_libs/tests/cli/test_show.py
  validations_libs/tests/fakes.py
  validations_libs/tests/test_utils.py
  validations_libs/tests/test_validation.py
  validations_libs/tests/test_validation_actions.py
  validations_libs/utils.py
  validations_libs/validation.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Add CLI auto generated documentation using Cliff
  doc/requirements.txt
  doc/source/cli.rst
  doc/source/conf.py
  doc/source/index.rst
  validations_libs/cli/history.py
  validations_libs/cli/lister.py
  validations_libs/cli/run.py
  validations_libs/cli/show.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Unit test refactor
  validations_libs/tests/cli/fakes.py
  validations_libs/tests/cli/test_colors.py
  validations_libs/tests/cli/test_history.py
  validations_libs/tests/cli/test_list.py
  validations_libs/tests/cli/test_run.py
  validations_libs/tests/cli/test_show.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs

Triggering the 'tripleo-ci-centos-8-undercloud-containers'
  .zuul.yaml
Due: validations-libs-functional

Validations show group filtering
  validations_libs/tests/cli/test_list.py
  validations_libs/tests/fakes.py
  validations_libs/tests/test_validation_actions.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Setting language for the python3.6 tox environment
  tox.ini
Due: validations-libs-functional

Add validation config file mechanism
  doc/source/cli.rst
  setup.cfg
  validation.cfg
  validations_libs/ansible.py
  validations_libs/cli/app.py
  validations_libs/cli/base.py
  validations_libs/cli/history.py
  validations_libs/cli/lister.py
  validations_libs/cli/run.py
  validations_libs/cli/show.py
  validations_libs/constants.py
  validations_libs/tests/cli/fakes.py
  validations_libs/tests/cli/test_app.py
  validations_libs/tests/cli/test_base.py
  validations_libs/tests/cli/test_history.py
  validations_libs/tests/cli/test_run.py
  validations_libs/tests/cli/test_show.py
  validations_libs/tests/fakes.py
  validations_libs/tests/test_ansible.py
  validations_libs/tests/test_utils.py
  validations_libs/tests/test_validation_actions.py
  validations_libs/utils.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Expose skip list mechanism via the CLI
  README.rst
  skiplist-example.yaml
  validations_libs/cli/common.py
  validations_libs/cli/run.py
  validations_libs/tests/cli/test_common.py
  validations_libs/tests/cli/test_run.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Default value of the constructor parameter
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Use py3 as the default runtime for tox
  tox.ini
Due: validations-libs-functional

Add new CLI sub command to create community validations
  README.rst
  setup.cfg
  validation.cfg
  validations_libs/cli/community.py
  validations_libs/community/__init__.py
  validations_libs/community/init_validation.py
  validations_libs/constants.py
  validations_libs/tests/cli/test_community.py
  validations_libs/tests/community/__init__.py
  validations_libs/tests/community/test_init_validation.py
  validations_libs/tests/fakes.py
  validations_libs/tests/test_utils.py
  validations_libs/utils.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

fix symlink for ansible base dir
  Vagrantfile.centos
  Vagrantfile.ubuntu
Due: validations-libs-functional

Enforce existing roles and playbooks checks
  validations_libs/community/init_validation.py
  validations_libs/tests/cli/test_community.py
  validations_libs/tests/community/test_init_validation.py
  validations_libs/tests/fakes.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Refactor set_argument_parser to fix shell regression
  validations_libs/cli/base.py
  validations_libs/cli/community.py
  validations_libs/cli/history.py
  validations_libs/cli/lister.py
  validations_libs/cli/run.py
  validations_libs/cli/show.py
  validations_libs/tests/cli/test_app.py
  validations_libs/tests/cli/test_base.py
  validations_libs/tests/cli/test_history.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Add the community validation paths
  validations_libs/ansible.py
  validations_libs/cli/lister.py
  validations_libs/cli/show.py
  validations_libs/tests/fakes.py
  validations_libs/tests/test_ansible.py
  validations_libs/tests/test_utils.py
  validations_libs/tests/test_validation_actions.py
  validations_libs/utils.py
  validations_libs/validation.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Disable spinner when running validation in non quiet mode
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Mocking 'open' to improve test isolation
  validations_libs/tests/cli/test_run.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs

Expand validations_logs table with reason of failure
  validations_libs/tests/fakes.py
  validations_libs/tests/test_validation_logs.py
  validations_libs/validation_logs.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Convert fstrings to .format to facilitate porting
  validations_libs/ansible.py
  validations_libs/cli/community.py
  validations_libs/community/init_validation.py
  validations_libs/tests/test_ansible.py
  validations_libs/utils.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Add backward compatibility for python pathlib module
  validations_libs/community/init_validation.py
  validations_libs/constants.py
  validations_libs/tests/community/test_init_validation.py
  validations_libs/tests/fakes.py
  validations_libs/tests/test_utils.py
  validations_libs/utils.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone
