Repository openstack-archive/validations-libs: changes, and which Zuul jobs are due for each by the changed paths.
All: validations-libs-functional, validations-libs-reqcheck, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

validations-libs-functional:
  parent: devstack
  run: playbooks/validations-libs-functional.yaml
  post-run: playbooks/post.yaml
  timeout: 7200
  required-projects:
  - openstack/validations-libs
  - openstack/validations-common
  - name: openstack/openstacksdk
    override-checkout: master
  - name: opendev.org/openstack/devstack
  ...

validations-libs-reqcheck:
  nodeset: centos-9-stream
  parent: base
  run: playbooks/reqcheck.yaml
  timeout: 1600
  voting: true
  required-projects:
  - openstack/validations-libs

tripleo-ci-centos-8-containers-multinode:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-standalone:
  dependencies:
  - openstack-tox-linters

Python 3.6 support removal
  setup.cfg
Due: validations-libs-functional

Man pages compatibility
  doc/source/cli.rst
  doc/source/conf.py
Due: openstack-tox-docs, promote-openstack-tox-docs

[Stable-Only] Refactoring the stable/1.6 CI pipeline
  .zuul.yaml
  doc/requirements.txt
  tox.ini
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs

Clarifying project branching model in CONTRIBUTING.rst
  .zuul.yaml
  CONTRIBUTING.rst
Due: validations-libs-functional

Expanding parser actions to allow for multiple key-value pairs
  validations_libs/cli/parseractions.py
  validations_libs/tests/cli/fakes.py
  validations_libs/tests/cli/test_parseractions.py
  validations_libs/tests/cli/test_run.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Adding yamllint configuration file and fixing style violations
  .yamllint
  .zuul.yaml
  playbooks/post.yaml
  skiplist-example.yaml
Due: validations-libs-functional

Minor style violations fix
  .dockerignore
  doc/source/contributing.rst
  tox.ini
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs

[Stable/1.6-Only] Setting docs job for stable/1.6
  .zuul.yaml
  doc/requirements.txt
  tox.ini
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs

Using UBI9 as base for VF development containers
  Dockerfile
  dockerfiles/localvalidations/Dockerfile
Due: validations-libs-functional

Removing Popen object return from utils.run_command_and_log
  validations_libs/tests/test_utils.py
  validations_libs/utils.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Constraining runtime selection and behavior to improve local testing stability
  tox.ini
  validations_libs/tests/callback_plugins/test_vf_validation_json.py
  validations_libs/tests/callback_plugins/test_vf_validation_stdout.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs

remove unicode prefix from code
  doc/source/conf.py
  releasenotes/source/conf.py
Due: openstack-tox-docs, promote-openstack-tox-docs

Define and loop on config file section
  validations_libs/cli/base.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Removing superfluous imports and variable
  validations_libs/cli/common.py
  validations_libs/cli/history.py
  validations_libs/tests/cli/fakes.py
  validations_libs/tests/cli/test_base.py
  validations_libs/tests/cli/test_colors.py
  validations_libs/tests/cli/test_community.py
  validations_libs/tests/cli/test_show.py
  validations_libs/utils.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Add CI job for podified VF
  .zuul.yaml
  container/validation
  playbooks/validations-libs-podified.yaml
Due: validations-libs-functional

Updating development vagrant file to centos8 stream
  Vagrantfile.centos
Due: validations-libs-functional

Restoring logging facility and implementing default logger
  validations_libs/cli/parseractions.py
  validations_libs/logger.py
  validations_libs/tests/test_logger.py
  validations_libs/tests/test_utils.py
  validations_libs/utils.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Remove log_path parameter so it can be only set by the constructor
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Remove python-dev from bindep
  bindep.txt
Due: validations-libs-functional

Pull flake8 from Github
  .pre-commit-config.yaml
  .zuul.yaml
Due: validations-libs-functional

Pull flake8 from Github
  .pre-commit-config.yaml
Due: validations-libs-functional

Install podman with privilege escalation
  .zuul.yaml
  playbooks/validations-libs-podified.yaml
Due: validations-libs-functional

Bumping basepython version of the tox environments to 3.10
  tox.ini
Due: validations-libs-functional

Expanding logging facilities to rest of the framework
  validations_libs/ansible.py
  validations_libs/cli/common.py
  validations_libs/cli/community.py
  validations_libs/community/init_validation.py
  validations_libs/group.py
  validations_libs/tests/test_ansible.py
  validations_libs/tests/test_validation_actions.py
  validations_libs/validation.py
  validations_libs/validation_actions.py
  validations_libs/validation_logs.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Check the presence of the output callback and the roles path
  validations_libs/ansible.py
  validations_libs/tests/test_ansible.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Format list to str for get_reason message or skip
  validations_libs/tests/fakes.py
  validations_libs/tests/test_validation_log.py
  validations_libs/validation_logs.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

[stable/1.6 only] ubuntu focal nodeset for the linter and cover jobs
  .zuul.yaml
Due: validations-libs-functional

[stable only] Rename linters and cover jobs with validations-libs prefix
  .zuul.yaml
Due: validations-libs-functional

Minor style violations fix
  .dockerignore
  doc/source/contributing.rst
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs

Tox docs job moved to ubuntu-focal nodeset
  .zuul.yaml
Due: validations-libs-functional

[stable/1.6 only] Changes needed for full functionality of tox 4.0.0 runtime
  .zuul.yaml
  doc/source/conf.py
  requirements.txt
  tox.ini
Due: validations-libs-functional, validations-libs-reqcheck, openstack-tox-docs, promote-openstack-tox-docs

Changes needed for full functionality of tox 4.0.0 runtime
  doc/source/conf.py
  tox.ini
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs

Adjusting developer container file to ensure smoother integration with IDE
  .devcontainer/devcontainer.json
  Dockerfile
Due: validations-libs-functional

Update container validation to use Fedora image version 36
  container/validation
Due: validations-libs-functional

Run validations with parameters from a file
  .zuul.yaml
  run-from-file-example.yaml
  setup.cfg
  validations_libs/cli/file.py
  validations_libs/cli/run.py
  validations_libs/tests/cli/test_file.py
  validations_libs/tests/cli/test_run.py
  validations_libs/tests/fakes.py
  validations_libs/tests/test_ansible.py
  validations_libs/tests/test_validation_actions.py
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

No validation found exception is raised when group or category or product is defined
  validations_libs/validation_actions.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Removing OOO branch jobs
  .zuul.yaml
Due: validations-libs-functional

Truncating the Reasons column in CLI output if it is too long
  validations_libs/cli/common.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Drop lack of syslog warning to debug level logging
  validations_libs/logger.py
  validations_libs/tests/test_logger.py
Due: validations-libs-functional, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ci-centos-8-containers-multinode, tripleo-ci-centos-8-standalone

Path conditions:
  validations-libs-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  validations-libs-reqcheck: any of: ^requirements.txt$
  openstack-tox-docs: (any of: ^doc/.*, ^README.rst, ^validations_libs/.*) or (any of: ^doc/.*, ^README.rst)
  promote-openstack-tox-docs: (any of: ^doc/.*, ^README.rst, ^validations_libs/.*) or (any of: ^doc/.*, ^README.rst)
  tripleo-ci-centos-8-containers-multinode: (any of: ^validations_libs/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, .*.ini$, ^validations_libs/tests/.*)
  tripleo-ci-centos-8-standalone: (any of: ^validations_libs/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, .*.ini$, ^validations_libs/tests/.*)
